<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="assetDetailsTestSuite">
	<listeners>		
		<listener class-name="com.vrt.Listners.ExtentReporterNG" ></listener>
		<listener class-name="com.vrt.Listners.RetryTransformer" ></listener>
	</listeners>
  <test thread-count="5" name="assetDetailsTestSanity">
    <classes>
      <class name="com.vrt.testcases.assetDetailsTest"></class>
    </classes>
  </test> <!-- assetDetailsTestSanity -->
</suite> <!-- assetDetailsTestSuite -->
